div#album-cover {
    position: fixed;
    top: 10px; left: 10px;
    width: 61%;
}

div#album-cover.small, div#album-cover.small img {
    all: unset;
    display: inline-block;
    width: 100%;
    border-radius: 0px;
    margin-bottom: -4px;
}


div#album-audio {
    position: absolute;
    top: 0; left: 63%; width: 36%;
    min-width: 320px;
}

div#album-audio.small {
    all: unset;
    display: inline-block;
    width: 100%;
}


div#audio-table {
    position: sticky;
    top: 0;
    padding-top: 2.2em;
}

.small div#audio-table {
    margin-top: 0;
    padding-top: 12px;
}


#track-number {
    font-size: 1.1em;
    margin: 0;
    margin-right: -4px;
    padding: 0;
    padding: 0 2px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 4px;
}

#track-album {
    font-size: x-large;
}

#track-artist {
    font-size: large;
    font-weight: 100;
    text-transform: uppercase;
}

#track-title {
    font-size: xx-large;
}

/***************************************************************/

table#album {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
    text-align: center;
}

table#album audio {
    max-width: 320px;
    max-height: 32px;
    margin-top: 6px;
    margin-bottom: 0px;
}

table#album-layout {
    width: 100%;
    border-collapse: collapse;
}
