#album-cover {
    position: fixed;
    top: 10px; left: 10px;
    width: 61%;
}

#album-cover.small, #album-cover.small img {
    all: unset;
    display: inline-block;
    width: 100%;
}

#album-audio.small {
    all: unset;
    display: inline-block;
}

#album-audio.small #audio {
    position: sticky;
    top: 0px;
    z-index: 9;
    background-color: white;
}

#album-audio.small #track-title {
    font-size: 24px;
    font-weight: bold;
}

#track-title {
    font-weight: bold;
}
