div#clock {
    display: inline-block;

    margin-top: 8px;
    margin-bottom: 4px;
    padding: 4px 8px;

    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 8px;
}

div#clock a, div#clock span {
    margin: 0;
    padding: 0;
}

div#clock #track-number {
}