div#covers {
    text-align: center;
}

div#recent {
    height: 128px;
    margin-bottom: 8px;

    margin-left: auto; 
    margin-right: auto;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    background-color: rgba(0,0,0,0.05);
    border-radius: 96px;
}

div.album-card {
    display: inline-block;

    width: 240px;
    height: 318px;

    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;

    text-align: left;
    font-weight: 100;

    overflow: hidden;
    vertical-align: top;
}

div.album-card img {
    width: 240px;
    height: 240px;
    border-radius: 2px;
}

div.album-card .encoding {
    border-radius: 2px;

    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 0px;
}

div#covers.discover div.album-card {
    height: 80px;
    padding: 16px;
    background-color: rgba(0,0,0,0.06);
    border-radius: 8px;
}
