div#covers {
    text-align: center;
}

div.album-card {
    display: inline-block;

    width: 240px;
    height: 340px;

    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;

    text-align: left;
    font-weight: 100;

    overflow: hidden;
    vertical-align: top;
}

div.album-card img {
    width: 240px;
    height: 240px;
    border-radius: 2px;
}

div.album-card .encoding {
    border-radius: 2px;

    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 0px;
}
