/*
  Native values from Safari audio element
 
    1: rgb(36,36,36)    <= background
    2: rgb(76,76,76)    <= slider-right
    3: rgb(135,135,135) <= slider-left
    4: rgb(156,156,156) <= time remaining
    5: rgb(227,227,227) <= play button
*/

body.dark .bg-1 { background-color: rgb(36,36,36);    }
body.dark .bg-2 { background-color: rgb(76,76,76);    }
body.dark .bg-3 { background-color: rgb(135,135,135); }
body.dark .bg-4 { background-color: rgb(156,156,156); }
body.dark .bg-5 { background-color: rgb(227,227,227); }

body.dark .clr-1 { color: rgb(36,36,36);    }
body.dark .clr-2 { color: rgb(76,76,76);    }
body.dark .clr-3 { color: rgb(135,135,135); }
body.dark .clr-4 { color: rgb(156,156,156); }
body.dark .clr-5 { color: rgb(227,227,227); }

/*
  Highlight colors (shades of pink)
 
    a: rgb(255,96,178)
    b: rgb(255,75,161)
    c: rgb(254,168,252)
*/

body.dark .bg-a { background-color: rgb(255,96,178); }
body.dark .bg-b { background-color: rgb(255,75,161); }
body.dark .bg-c { background-color: rgb(254,168,252); }

body.dark .clr-a { color: rgb(255,96,178); }
body.dark .clr-b { color: rgb(255,75,161); }
body.dark .clr-c { color: rgb(254,168,252); }


body.dark {
    background-color: black;
    color: rgb(76,76,76);
    font-family: sans-serif;
}

body.dark a {
    color: rgb(135,135,135);
}

body.dark b {
    color: yellow;
}

body.dark i {
    color: white;
}

body.dark .box, body.dark .button {
    background-color: rgb(36,36,36);
}

body.dark #audio-table {
    background-color: black;
}

body.dark #track-title {
    text-shadow: 0px 0px 16px magenta;
}

body.dark div#album-audio div:first-child {
    background-color: black;
}