html, body {
    background-color: white;
    color: black;
    text-align: left;
}

#docs {
    font-family: serif;
    margin: 1em;
    color: black;
}

#docs a {
    text-decoration: underline;
    color: blue;
}
#docs a:visited {
    color: purple;
}

#docs b, i {
    color: black;
}

#docs dt {
    font-family: monospace;
    font-weight: bold;
}

#docs .box {
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
}

#docs .color-box {
    margin: 32px;
    padding: 32px;
    border-radius: 16px;
}
