a { text-decoration: none }

a:hover { }

body {
    margin: 0; 
    padding: 0;
    font-family: sans-serif;
    text-align: center; 
    background-color: whitesmoke;
}

html {
    margin: 0;
    padding: 0;
}

kbd {
    margin: 8px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: black;
    color: yellow !important;
}

smcap {
    font-size: small;
}

table {
    border-collapse: collapse;
}

table.data {
    text-align: left;
    font-size: smaller;
    margin: 16px 0;
}
table.data th {
    font-size: larger;
    padding: 8px;
    border: 1px solid silver;

    font-weight: bold;
    text-align: center;

    background-color: dimgray;
    color: black;
}
table.data td {
    vertical-align: top;
    padding: 2px 4px;
    border: 1px solid silver;
}
table.data tr td:nth-child(1) { 
    width: 20%;
    word-break: break-all 
}
table.data tr td:nth-child(2) { word-break: break-all }

.border { 
    border: 1px solid silver;
}

.btn { cursor: pointer }

.center { align: center; text-align: center; }
.help { cursor: help }
.left { align: left; text-align: left; }

.pad { padding: 4px }
.pad2 { padding: 8px }
.pad3 { padding: 16px }

.pill {
    display: inline-block;
    margin: 0;
    margin-right: 4px;
    margin-bottom: 8px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: lightgray;
    color: dimgray;
}
.pill img {
    height: 18px;
    vertical-align: bottom;
    filter: grayscale(1);
}
.pill:hover img {
    filter: grayscale(0);
}

.round { border-radius: 4px }
.round2 { border-radius: 8px }
.round3 { border-radius: 16px }

.hidden {
    display: none;
}

.inverted {  /* must be last class */
    background-color: black;
    color: white;
}

#alpha a {
    margin-right: 8px;
}

#heart { margin: 8px }
