/* Extra small devices */
@media only screen and (max-width: 600px) {
    /* html { border: 8px solid red } */
    div#cover { position: static; margin: 0; padding: 0; width: 100%; }
    div#music { position: static; margin: 0; padding: 0; width: 100%; }
    div#player { margin: 0; }
    div#help, div#related, div#tags { margin: 16px; max-height: 300px; }
    div#title { font-size: 24px; }
    img#cover { border: none; border-radius: 0; }
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 600px) {
    /* html { border: 8px solid blue } */
    div#cover { position: static; margin: 0; padding: 0; width: 100%; }
    div#music { position: static; margin: 0; padding: 0; width: 100%; }
    div#player { margin: 0; }
    div#related, div#tags { margin: 16px; max-height: 300px; }
    div#title { font-size: 24px; }
    img#cover { border: none; border-radius: 0; }
}

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 992px) {
    /* html { border: 12px solid orange } */
}

/* Extra large devices (large laptops and desktops) */
@media only screen and (min-width: 1200px) {
    /* html { border: 16px solid yellow } */
}
