#metadiv {
    background-color: lightyellow;
    padding:0 4px;
}

#metadiv span {
    margin-bottom: 0.4em;
}

#metadiv img {
    height: 1.2em;
    vertical-align: middle;
    margin-right: 0.2em;
}

#metadiv #links {
    text-align: left;
    margin-left: 30%;
}

table#metadata tr td {
    padding: 2px 4px;
}

table#metadata tr td:first-child {
    font-weight: bold;
    text-align: right;
}

table#metadata tr td:nth-child(2) {
    word-break: break-all;
}
