table#metadata tr td {
    font-size: small;
    padding: 2px 4px;
    opacity: 0.5;
}

table#metadata tr td:first-child {
    font-weight: bold;
    text-align: right;
}

table#metadata tr td:nth-child(2) {
    word-break: break-all;
}
