#tracklist {
    margin: 8px;
    padding: 8px;
    background-color: rgba(0,0,0,0.05);
    border-radius: 8px;
    overflow-y: scroll;
}

table.tracklist {
    margin-left: auto;
    margin-right: auto;
}

.tracklist td {
    padding: 2px 4px;
    padding-bottom: 0;
}

.tracklist-artist {
    font-weight: 100;
    opacity: 0.5;
}

.tracklist-index, .tracklist-length {
    text-align: right;
    opacity: 0.2;
}

.tracklist-title {
    word-break: break-word;
}
