#tracklist-heading span {
    margin-left: 8px;
    margin-right: 8px;
}

div#tracklist {
    padding: 8px;
}

table.tracklist {
}

.tracklist td {
    padding: 2px 4px;
    padding-bottom: 0;
}

.tracklist-index, .tracklist-length {
    text-align: right;
}

.tracklist-title {
    word-break: break-word;
}
