{% extends "layout.html" %}

{% block body %}

{% include "search-form.html" %}

<br/>

<div id="base" class="admin-box">
<h3>Base</h3>
<table class="data">
  <tr>
    <td><b>BASE</b></td>
    <td>{{ base }}</td>
  </tr>
  <tr>
    <td><b>Albums</b></td>
    <td>{{ "{:,}".format(albums | length) }} (from file system)</td>
  </tr>

  {% if sindex %}
  <tr>
    <td><b>Tracks</b></td>
    <td>{{ "{:,}".format(sindex.length) }} (from search index)</td>
  </tr>
  {% endif %}

</table>
<p>
  {{ emoji.run | safe }}
  <span class="box">rebase</span>
</p>
</div>

<br>

{% include "search-admin.html" %}

<br>

<div id="config" class="admin-box">
  <h3>Configuration</h3>
  <pre class="left">{{ config | pprint }}</pre>
</div>

{% include "tips.html" %}

<br>

{% include "footer.html" %}

<div style="height: 16px"></div>

{% endblock %}
