<link rel="stylesheet" type="text/css" href="/static/album.css"></link>

<div>

  <table id="album-layout">

    <tr>

      <td id="album-cover">
        <a href="/artist/{{ track.artist or 'None' }}"
           target="_blank">
          <img 
             alt="album cover"
             src="/img{{ slash }}{{ alkey | urlencode }}">
        </a>
      </td>

      <td id="album-audio">
        {% include "audio-table.html" %}
        {% include "tracklist.html" %}
        {% include "metadata.html" %}
      </td>

    </tr>

  </table>

</div>
