<style>
audio {
    max-height: 32px;
    max-width: 100%;
    opacity: 0.5;
}
table#audio {
    margin-top: 8px;
    margin-bottom: 8px;
}
table#audio td {
    text-align: center;
    vertical-align: middle;
    font-size: larger;
}
table#audio #track {
    padding: 4px 8px;
    cursor: pointer;
    font-size: 20px;
    background-color: black;
    color: white;
}
</style>


<table id="audio" class="">
  <tr>
    <td>
      <span class="btn" onclick="gotoPrev()">&#x1f519;</span>
    </td>
    <td>
      <div
         id="track"
         class="round {% if autoplay %}glow{% endif %}"
         alkey="{{ alkey | urlencode }}" 
         rtrack="{{ control.rtrack }}"
         total="{{ metadata | length }}"
         onclick="toggle_hidden('tags')">{{ control.track_num }}</div>
    </td>
    <td>
      <span class="btn" style="margin-right: 8px;"
            onclick="gotoNext()">&#x1f51c;</span>
    </td>
    <td>
      <audio controls {% if autoplay %}autoplay{% endif %}>
        <source src="{{ track.src }}" type="{{ track.type }}" />
      </audio>
    </td>
  </tr>
</table>
