{% set album = track.album or "<small>ALBUM</small>" | safe %}

{% set artist = track.artist or track.album_artist or "None" %}

{% if (artist | length + track.album | length) < 32 %}
{% set dash = True %}
{% endif %}

{% if artist | length > 32 %}
{% set artist = artist.split(';')[0].split(',')[0] %}
{% endif %}

<div id="audio-table" class="bg-white">

  <table id="album" class="center">

    <tr>
      <td id="track-title" class="clr-a">
        {{ track.title }}
      </td>
    </tr>

    <tr>
      <td>
        <a id="track-artist"
           class="clr-b sans-serif"
           href="/artist/{{ artist }}"
           target="_blank">{{ artist  }}</a>
      </td>
    </tr>

    <tr>
      <td id="track-album">
        <i>
          <a class="clr-c"
             href="/album{{ slash }}{{ alkey | urlencode }}"
             >{{ album }}</a></i>
      </td>
    </tr>
    
    <tr>
      <td>
        {% include "audio-controls.html" %}
      </td>
    </tr>

    <tr>
      <td>
        {% include "audio-table-buttons.html" %}
      </td>
    </tr>

  </table>

</div>
