<div id="clock">

  <a href="/" class="emoji"
     target="_blank">{{ emoji.app | safe }}</a>

  <a class="emoji"
     href="/random">{{ emoji.random | safe }}</a>

  <span id="time" style="opacity: 0.8">--:-- --</span>

  <span id="weather">&#x26A1;</span>

  <a class="emoji" href="/">&#x274C;</a>

  <a href="#more" class="emoji"
     onclick="toggle_hidden('metadiv');
              toggle_hidden('track-links');
              toggle_hidden('track-summary');
              toggle_hidden('footer');">{{ emoji.more | safe }}</a>

</div>
