<div id="{{ counter }}-counts" style="display: none">

  <p>
    <div style="margin-bottom: 1em">
      <span class="box">
        {{ "{:,}".format(counts[counter] | length) }}
        <b>{{ counter }}s</b></span>
    </div>

    {% for item in counts[counter] | sort %}

    <div class="box count-card">

      <span class="clr-5" style="float: right">
        {{ counts[counter][item] }}</span>

      <div style="max-width: 180px;">
        <a href="/{{ counter }}/{{ item | urlencode }}">
          {{ item }}</a>
      </div>

    </div>

    {% endfor %}
  </p>

</div>
