<link rel="stylesheet" type="text/css" href="/static/covers.css">

<div id="covers" class="clr-3">
  {%- for path in albums -%}
  {%- set album = albums[path] -%}
  {%- set href = path | replace(base + '/', '') -%}
  <div class="album-card">

    <div>
      <a href="/album/{{ href | urlencode }}"
         title="{{ alb }}"
         ><img decoding="sync" loading="lazy"
               src="/img/{{ href | urlencode }}"></a>
    </div>

    <div class="clr-c">
      <b>{{ album.album }}</b>
    </div>

    <div style="white-space: nowrap">
      <a href="/artist/{{ album.artist }}">{{ album.artist }}</a>
    </div>

    <div>
      <a href="/year/{{ album.year }}">{{ album.year }}</a>
      &centerdot;
      <a href="/genre/{{ album.genre | safe }}">{{ album.genre }}</a>
    </div>

  </div>
  {%- endfor -%}
</div>
