{% extends "layout.html" %}

{% block body %}

<link rel="stylesheet" type="text/css" href="/static/covers.css">

<div id="covers" class="discover" style="margin-top: 8px">

<div class="album-card">
  <b><a href="https://twitter.com/amoebamusic">Amoeba
  Music</a></b><br />
  The world's largest independent record store with locations in
  Hollywood, San Francisco, and Berkeley.
</div>

<div class="album-card">
  <b><a href="https://bandcamp.com/">Bandcamp</a></b><br />
  Discover amazing new music and directly support the artists who make
  it
</div>

<div class="album-card">
  <b><a href="https://kexp.org/">KEXP Seattle</a></b><br />
  Where the music matters
</div>

<div class="album-card">
  <b><a href="https://www.npr.org/music/">NPR Music</a></b><br /> Tiny
  Desk Concerts, All Songs Considered, Music News, New Music
</div>

<div class="album-card">
  <b><a href="https://recordstoreday.com/">Record Store
  Day</a></b><br />Come together and celebrate the unique culture of a
  record store
</div>

<div class="album-card">
  <b><a href="https://www.youtube.com/channel/UCt7fwAhXDy3oNFTAzF2o8Pw">The
  Needle Drop</a></b><br />Anthony Fantano's YouTube channel
  passionately dedicated to reviewing music.
</div>

</div>

{% endblock %}
