<a name="moo-resources"></a>

<h2>moo Resources</h2>

<p>
  <ul>
    <li><a href="https://python.org/">python</a> programming
      language</li>
    <li><a href="https://flask.palletsprojects.com/">Flask</a>
      application framework</li>
    <li><a href="https://jinja.palletsprojects.com/en/2.11.x/">Jinja2</a>
      templating engine</li>
    <li><a href="https://mutagen.readthedocs.io/">mutagen</a> media
      tag interface</li>
    <li><a href="https://github.com/iki/unidecode">unidecode</a>
      unicode transliteration</li>
  </ul>
</p>

<h3>Further reading</h3>

<p>
  <ul>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/Audio_and_video_delivery/Cross-browser_audio_basics">Cross-browser
        audio basics</a></li>
    <li><a href="https://emojipedia.org/">Emojipedia</a></li>
    <li>Flask <a href="https://flask.palletsprojects.com/en/1.1.x/api/#flask.Flask.before_request">before_request(f)</a></li>
    <li>Flask <a href="https://flask.palletsprojects.com/en/1.1.x/quickstart/#cookies">Cookies</a></li>
    <li>Flask <a href="https://flask.palletsprojects.com/en/1.1.x/patterns/viewdecorators/">View Decorators</a></li>
    <li>Jinja <a href="https://jinja.palletsprojects.com/en/2.11.x/templates/#">Template
        Reference</a></li>
    <li><a href="https://html.spec.whatwg.org/multipage/named-characters.html#named-character-references">List
        of HTML entities</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Web_colors">Web
        colors</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Text/Wrapping_Text">Wrapping
        and breaking text</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/audio">audio</a>:
      The Embed Audio element </li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe">iframe</a>:
      The Inline Frame element</li>
  </ul>
</p>
