<a name="moo-config"></a>

<h2>moo Config</h2>

<p>
  Edit
  <a href="https://github.com/siznax/moo/blob/main/Moo/play/config.py"
     target="_blanmk">moo/Moo/playconfig.py</a> to customize
</p>

<p>
  <pre>AUTHOR = 'siznax'
PACKAGE = 'moo'
VERSION = '0.1'
WWW = 'https://github.com/siznax/moo'

BASE = '/Users/steve/Music'

ARTIST_BUTTONS = {
    'Miles': 'Miles Davis',
    'Fela': 'Fela Kuti',
    'Mariem': 'Mariem Hassan'
}

GENRE_BUTTONS = ['Jazz', 'Funk', 'Blues']

STATION_BUTTONS = {
   'KALW': 'https://www.kalw.org/'
   'KCSM': 'https://kcsm.org/',
   'KPOO': 'https://kpoo.com/',
}</pre>
</p>
