<a name="moo-routes"></a>

<h2>moo Routes</h2>

<p>Supported (major) routes</p>

<p>
  <blockquote>
    <dl>
      <dt>/</dt><dd>serve all albums, artists, and genres</dd>
      <dt>/album/&lt;alkey&gt;</dt><dd>serve audio player with selected album</dd>
      <dt>/artist/&lt;artist&gt;</dt><dd>serve albums with selected artist</dd>
      <dt>/base</dt><dd>serve list of album directories (index keys)</dd>
      <dt>/genre/&lt;genre&gt;</dt><dd>serve albums with selected genre</dd>
      <dt>/track/&lt;num&gt;/&lt;alkey&gt;</dt><dd>serve audio player with selected track from selected album</dd>
    </dl>
  </blockquote>
</p>

