<a name="moo-style"></a>

<h2>moo Style</h2>

<p>
  Your default browser fonts and colors are used unless you add style
  to <a href="https://github.com/siznax/moo/blob/main/Moo/play/static/custom.css"
        target="_blank">moo/Moo/play/static/custom.css</a>
</p>

<h3>moo Colors</h3>

<p>
  See
  <a href="https://github.com/siznax/moo/tree/main/Moo/play/static"
     target="_blank">moo/Moo/play/static</a>
</p>

<p>
  Basic color classes
  <pre>
.bg-black { background-color: black; }
.bg-white { background-color: white; }

.clr-black { color: black; }
.clr-white { color: white; }

.button, .box { background-color: lavender; %}

.pre { background-color: whitesmoke; }
  </pre>
</p>

<p>
  Example custom color classes
  <pre>
/*
  Native values from Safari audio element (dark to light)
 
    1: rgb(36,36,36)    <= background
    2: rgb(76,76,76)    <= slider-right
    3: rgb(68,68,68)    <= slider-left
    4: rgb(78,78,78)    <= time remaining
    5: rgb(114,114,114) <= play button
    6: rgb(128,128,128) <= track position
 
  Highlight colors (shades of pink, "dark" to light)
 
    a: rgb(255,96,178)
    b: rgb(255,75,161)
    c: rgb(254,168,252)
*/

.bg-1 { background-color: rgb(36,36,36);    }
.bg-2 { background-color: rgb(76,76,76);    }
.bg-3 { background-color: rgb(135,135,135); }
.bg-4 { background-color: rgb(156,156,156); }
.bg-5 { background-color: rgb(227,227,227); }

.bg-a { background-color: rgb(255,96,178); }
.bg-b { background-color: rgb(255,75,161); }
.bg-c { background-color: rgb(254,168,252); }

.clr-1 { color: rgb(36,36,36);    }
.clr-2 { color: rgb(76,76,76);    }
.clr-3 { color: rgb(135,135,135); }
.clr-4 { color: rgb(156,156,156); }
.clr-5 { color: rgb(227,227,227); }

.clr-a { color: rgb(255,96,178); }
.clr-b { color: rgb(255,75,161); }
.clr-c { color: rgb(254,168,252); }
  </pre>
</p>


<h3>moo Symbols</h3>

<p>
  See
  <a href="https://github.com/siznax/moo/blob/main/Moo/play/lib.py"
     target="_blank">moo/Moo/play/lib.py</a>
</p>

<p>
  <blockquote>
    <dl>
      <dt>⏭  U+23ED Next Track Button</dt>
      <dd>link to next track (<tt>emoji.next</tt>)</dd>
      <dt>⏮  U+23EE Last Track Button</dt>
      <dd>link to previous track (<tt>emoji.prev</tt>)</dd>
      <dt><span style="font-size: 20px">☆ </span>U+2606 White Star</dt>
      <dd>album or track <i>star</i> button (<tt>emoji.star</tt>)</dd>
      <dt><span style="font-size: 20px">♡ </span>U+2661 White Heart Suit</dt>
      <dd>album or track <i>heart</i> button (<tt>emoji.heart</tt>)</dd>
      <dt>❔ U+2754 White question mark</dt>
      <dd>link to documentation (<tt>emoji.help</tt>)</dd>
      <dt>⭐ U+2B50 Star</dt>
      <dd>album or track has been <i>starred</i> (<tt>emoji.starred</tt>)</dd>
      <dt>🎲 U+1F3B2 Game die</dt>
      <dd>link to random album (<tt>emoji.random</tt>)</dd>
      <dt>🎵 U+1F3B5 Musical note</dt>
      <dd>link to <i>base</i> index (<tt>emoji.base</tt>)</dd>
      <dt>🎷 U+1F3B7 Saxophone</dt>
      <dd>app icon, link to album covers (<tt>emoji.app</tt>)</dd>
      <dt>💜 U+1F49C Purple Heart</dt>
      <dd>album or track has been <i>hearted</i> (<tt>emoji.hearted</tt>)</dd>
      <dt>😭 U+1F62D Loudly Crying Face</dt>
      <dd>404 Page not found (<tt>emoji.notfound</tt>)</dd>
      <dt>🚫 U+1F6AB Prohibited</dt>
      <dd>link to albums missing metadata (<tt>emoji.none</tt>)</dd>
    </dl>
  </blockquote>
</p>
