<a name="moo-todo"></a>

<h2>moo ToDo</h2>

<p>Move to GitHub Issues...</p>

<p>
  <ul>
    <li>Show last played</li>
    <li>Use <tt>file://</tt> for audio source</li>
    <li>Automatically update if changes detected</li>
    <li>Stars and Hearts</li>
    <li>Playlists</li>
    <li>Search with
      <a href="https://twitter.github.io/typeahead.js/">typeahead.js</a></li>
    <li>Make easy installer</li>
    <li>Consider <i>iframes</i> to play and browse in a single tab</li>
    <li>Nest long, repeated (classical) track title prefixes</li>
    <li>Fold long titles better (bottom-heavy)</li>
    <li>Add <a href="https://github.com/chubin/wttr.in">wttr.in</a>
      to clock</li>
  </ul>
</p>
