<a name="moo-components"></a>

<h2>moo Components</h2>

<p>
  Visual components roughly map to Jinja2 templates
  in <tt>moo/Moo/play/templates/*.html</tt>.
</p>

<p>
  <blockquote>
    <dl>
      <dt>album</dt><dd>displays selected album cover, audio controls, tracklist and metadata</dd>
      <dt>alpha-buttons</dt><dd>displays A-Z links to artists from all albums</dd>
      <dt>artists</dt><dd>displays artists/count from selected albums</dd>
      <dt>clock</dt><dd>displays system clock time every second</dd>
      <dt>covers</dt><dd>displays selected album covers</dd>
      <dt>footer</dt><dd>displays application name and version</dd>
      <dt>genre-buttons</dt><dd>displays genre buttons from <tt>moo/Moo/play/config.py</tt></dd>
      <dt>genres</dt><dd>displays genres/count from albums selected</dd>
      <dt>header</dt><dd>displays facet, alpha, and genre buttons</dd>
      <dt>index</dt><dd>displays header and selected albums</dd>
      <dt>metadata</dt><dd>displays table of <i>normalized</i> media tags for current track</dd>
      <dt>tracklist</dt><dd>displays table of <i>normalized</i> media tags for current track</dd>
    </dl>
  </blockquote>
</p>

