<div>
  <a class="emoji" href="{{ config.WWW }}"
     title="moo {{ config.VERSION }} on GitHub"
     target="_blank">{{ emoji.app | safe }}</a>
  <a class="emoji" href="/base">{{ emoji.base | safe }}</a>
  <a class="emoji" href="/None">{{ emoji.none | safe }}</a>
  <a class="emoji" href="/stars">{{ emoji.starred | safe }}</a>
  <a class="emoji" href="/hearts">{{ emoji.hearted | safe }}</a>
  <a class="emoji" href="/random">{{ emoji.random | safe }}</a>
  <a class="emoji" href="https://github.com/siznax/moo/wiki"
     target="_blank">{{ emoji.help | safe }}</a>
</div>
