<div id="facet-buttons" style="margin-left: 8px">

  <span class="count-box">
    {%- if request.path == "/" -%}<b>Albums</b>{%-
    else -%}<a href="/">Albums</a>{%- endif -%}<span>{{
      "{:,}".format(albums | length) }}</span></span>

  <span class="count-box">
    <a href="#" {%- if counts["artist"] | length > 1 -%}
      onclick="toggle_hidden('artist-counts')"
      {%- endif -%}>Artists</a><span>{{
      "{:,}".format(counts['artist'] | length) }}</span></span>

  <span class="count-box clr-5">
    <a href="#" {%- if counts and (counts.genre | length > 1) -%}
      onclick="toggle_hidden('genre-counts')"
      {%- endif -%}>Genres</a><span>{{
      "{:,}".format(counts['genre'] | length) }}</span>
  </span>

  <span class="count-box clr-5">
    <a href="#" {%- if counts and (counts.year | length > 1) -%}
      onclick="toggle_hidden('year-counts')"
      {%- endif -%}>Years</a><span>{{
      "{:,}".format(counts['year'] | length) }}</span></span>

  <span class="count-box clr-5">
    <a href="#" onclick="toggle_hidden('format-counts')">Formats</a><span>{{
      "{:,}".format(counts['format'] | length) }}</span></span>

  <span class="box clr-5">
    {%- if request.path == "/None" -%}
    <b>None</b>
    {%- else -%}
    <a href="/None">None</a>
    {%- endif -%}
  </span>

</div>
