<p class="clr-4" style="padding-top: 1.2em">

  <a class="emoji"
     title="moo {{ config.VERSION }} on GitHub"
     href="{{ config.WWW }}"
     target="_blank">{{ emoji.app | safe }}</a>

  <span style="margin-right: 8px">
    <a class="button clr-5"
       style="margin-right: 0"
       href="/">Albums</a>
    <span>{{ "{:,}".format(total) }}</span>
  </span>

  <span style="margin-right: 8px">
    <a href="#"
       class="button clr-5"
       style="margin-right: 0"
       onclick="toggle_hidden('artist-counts');">Artists</a>
    <span>{{ "{:,}".format(counts['artist'] | length) }}</span>
  </span>

  <span style="margin-right: 8px">
    <a href="#"
       class="button clr-5" 
       style="margin-right: 0" 
       onclick="toggle_hidden('genre-counts');">Genres</a>
    <span>{{ "{:,}".format(counts['genre'] | length) }}</span>
  </span>

  <span style="margin-right: 8px">
    <a href="#"
       class="button clr-5"
       style="margin-right: 0"
       onclick="toggle_hidden('year-counts');">Years</a>
    <span>{{ "{:,}".format(counts['year'] | length) }}</span>
  </span>

  <span style="margin-right: 8px">
    <a href="#"
       class="button clr-5"
       style="margin-right: 0"
       onclick="toggle_hidden('format-counts')">Formats</a>
    <span>{{ "{:,}".format(counts['format'] | length) }}</span>
  </span>

  <span>
    <a class="emoji"
       href="https://github.com/siznax/moo/wiki"
       target="_blank">{{ emoji.help | safe }}</a></span>

</p>
