{% if request.path == '/' or request.path.startswith('/index/') %}
{% else %}
{% set classes = "hidden" %}
{% endif %}

<style>
div#index {
    padding: 16px;
}
</style>

<div id="index" class="{{ classes }}">

  <h1>
    {{ "{:,}".format(index | length) }}
    {% if alpha %}"{{ alpha }}"{% endif %}
    <a href="/">albums</a>
    &#x1f9a5;
  </h1>

  <p>
    <a href="/covers">Covers</a>
    <a class="pill" href="/random" title="Go to random album">
      <img alt="die" src="/static/die.png"> random</a>
  </p>

  <p id="alpha" class="center">
    <a href="/index/A">A</a>
    <a href="/index/B">B</a>
    <a href="/index/C">C</a>
    <a href="/index/D">D</a>
    <a href="/index/E">E</a>
    <a href="/index/F">F</a>
    <a href="/index/G">G</a>
    <a href="/index/H">H</a>
    <a href="/index/I">I</a>
    <a href="/index/J">J</a>
    <a href="/index/K">K</a>
    <a href="/index/L">L</a>
    <a href="/index/M">M</a>
    <br>
    <a href="/index/N">N</a>
    <a href="/index/O">O</a>
    <a href="/index/P">P</a>
    <a href="/index/Q">Q</a>
    <a href="/index/R">R</a>
    <a href="/index/S">S</a>
    <a href="/index/T">T</a>
    <a href="/index/U">U</a>
    <a href="/index/V">V</a>
    <a href="/index/W">W</a>
    <a href="/index/X">X</a>
    <a href="/index/Y">Y</a>
    <a href="/index/Z">Z</a>
  </p>

  <p>
    {% include "help.html" %}
  </p>

  <p>
    <ol class="left">
      {% for path in index %}
      {% set href = path | replace(base + "/", '') %}
      <li><a href="/album/{{ href | urlencode }}">{{ href }}</a></li>
      {% endfor %}
    </ol>
  </p>

  <p>
    <b>moo</b> <a href="{{ config.WWW }}">{{ config.VERSION }}</a>
    <span id="heart">&#x2764;</span>
    {{ config.AUTHOR }}
  </p>

</div>
