<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta 
       name="viewport"
       content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <link 
       rel="shortcut icon" 
       href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="/static/style.css">

    <!-- <link rel="stylesheet" href="/static/custom-dark.css"> -->

    {% if request.path == '/' %}
    <title>moo</title>
    {% endif %}

    {% if (request.path.startswith('/alpha')
           or request.path.startswith('/artist')
           or request.path.startswith('/genre')
           or request.path.startswith('/year')
           or request.path.startswith('/format')) %}
    <title>{{ request.path.split('/')[-1] }} albums</title>
    {% endif %}

    {% if request.path == '/docs' %}
    <title>moo {{ config.VERSION }} docs</title>
    {% endif %}

    {% if request.path.startswith('/find') %}
    <title>/find: {{ request.path.split('/')[-1] }}</title>
    {% endif %}

    {% if request.path == "/new" %}
    <title>New albums</title>
    {% endif %}

    {% if request.path == "/history" %}
    <title>moo History</title>
    {% endif %}

    {% if track %}

    {% if request.path.startswith('/album') %}
    <title>
      {{ track.album or "Album" }}
      &mdash;
      {{ track.artist or "Artist" }}
    </title>
    {% endif %}

    {% if request.path.startswith('/track') %}
    <title>
      {{ track.title or "Track" }}
      &mdash;
      {{ track.artist or "Artist" }}
      &centerdot;
      {{ track.album or "Album" }}
    </title>
    {% endif %}

    {% endif %}

  </head>
  <body onload="init({{ config.VERSION }})" class="dark">

    {% block body %}{% endblock %}

    {% if "admin" not in request.path %}
    <script src="/static/js/audio.js"></script>
    {% endif %}

     {% if request.path.startswith('/album')
       or request.path.startswith('/track') %}
    <script src="/static/js/clock.js"></script>
    <script src="/static/js/keyboard.js"></script>
    {% endif %}

  </body>
</html>
