<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta 
     name="viewport"
     content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <link 
     rel="shortcut icon" 
     href="{{ url_for('static', filename='moo.ico') }}">

  <link rel="stylesheet" href="/static/layout.css">
  <link rel="stylesheet" href="/static/dark.css">

  <title>
    {% block title %}

    {% if track and track.artist %}

    {% if request.path.startswith('/album') %}

    {{ track.artist }} ({{ track.year }}) {{ track.album }}

    {% elif request.path.startswith('/track') %}

    "{{ track.title }}" [{{ track.track }}]
    {{ track.album }} ({{ track.year }}) {{ track.artist }}

    {% else %}
    moo
    {% endif %}
    
    {% else %}
    moo
    {% endif %}

    {% endblock %}
  </title>

  <!-- <link rel="stylesheet" href="/static/debug.css"> -->

</head>
<body id="body" onload="init({{ config.VERSION }})" class="dark">

  {% block body %}{% endblock %}

  <!-- <link rel="stylesheet" href="/static/media.css"> -->
  <script src="/static/audio.js"></script>
</body>
</html>
