<link rel="stylesheet" type="text/css" href="/static/metadata.css">

<div id="metadiv" class="clr-3 center" style="display: none">

  <div style="margin-bottom: 1em;">
    <i>{{ track.title }}</i>
  </div>

  {% include "tracklist-links.html" %}
  {% include "tracklist-encoding.html" %}
  
  <table id="metadata">

    {% for field in track | sort %}

    <tr>
      <td class="clr-4">{{ field }}</td>
      <td>{{ track[field] }}</td>
    </tr>

    {% endfor %}

  </table>

  <p>{{ config.PACKAGE }} {{ config.VERSION }}</p>

</div>
