{%- extends "layout.html" -%}

{%- block body -%}

{%- include "search-form.html" -%}

<link rel="stylesheet" href="/static/playlist.css">

{% if name %}

{% include "playlist-list.html" %}

{% else %}

{% if source %}

{% include "playlist-source.html" %}

{% else %}

{% if not playlists %}
<div style="padding: 16px">
  Click {{ emoji.playlist | safe }} on any track to add it to a playlist.
</div>
{% endif %}

<div id="playlist-buttons">
  {%- for key in playlists | sort -%}
  <a class="button" 
     href="/list/{{ key }}"
     style="padding-left: 12px">{{ key }}</a>
  {%- endfor -%}
</div>

{% endif %}

{% endif %}

{%- include "footer.html" -%}

<div style="height: 32px">&nbsp;</div>

{%- endblock -%}
