<style>
div#related {
    padding-tom: 0;
    padding-bottom: 8px;
}
div#related img {
    width: 150px;
    height: 150px;
}
div#related .album {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 4px;
    overflow: hidden;
    vertical-align: top;
}
</style>


<div id="related" class="border hidden round">
  {% if related %}
  <p>
    <b>{{ related | length}}</b>
    of <a href="/">{{ "{:,}".format(index | length) }}</a>
    match
    <kbd class="btn" onclick="toggle_hidden('related')">m</kbd>
    <br>
    <i>{{ ", ".join(terms) }}</i>
  </p>

  {% for path in related | sort %}
  <div class="album border">
    <a href="/album/{{ path | replace(base + '/', '') | urlencode }}">
      <img src="/img/{{ path | replace(base + '/', '') | urlencode }}">
      <br>{{ path.name }}</a></div>
  {% endfor %}

  {% else %}

  <p>Nothing related to <i>{{ ", ".join(terms) }}</i></p>

  {% endif %}
</div>
