<link rel="stylesheet" href="/static/search.css">

<form id="search-form" class="box" name="search"
      action="/search" method="POST">

  <span style="margin-left: 16px"><a href="/">{{ 
      emoji.app | safe }} Moo</a></span>

  <span>
  {% if request.path == "/random" %}
  {{ emoji.random | safe }} <b>Random</b>
  {% else %}
  <a href="/random">{{ emoji.random | safe }} Random</a>
  {% endif %}
  </span>

  <span>
  {% if request.path == "/new" %}
  {{ emoji.new | safe }} <b>New</b>
  {% else %}
  <a href="/new">{{ emoji.new | safe }} New</a>
  {% endif %}
  </span>

  <span>
  {% if request.path == "/history" %}
  {{ emoji.history | safe }} <b>History</b>
  {% else %}
  <a href="/history">{{ emoji.history | safe }} History</a>
  {% endif %}
  </span>

  <input
     id="search-input"
     name="search-input"
     placeholder="{{ terms or 'terms'}}"
     type="search"></input> <span
     style="cursor: pointer"
     onclick="document.search.submit()">{{ emoji.search | safe }}</span>

  <span>
    <a class="emoji" href="/admin">{{ emoji.admin | safe }}</a></span>

</form>
