<div class="admin-box">
  <h3>Tips</h3>

  <div style="text-align: left">

  <p>
    <b>Audio formats</b><br>
    <a href="https://en.wikipedia.org/wiki/Comparison_of_audio_coding_formats">https://en.wikipedia.org/wiki/Comparison_of_audio_coding_formats</a>
  </p>

  <p>
    <b>Flask API</b>
    <a href="https://flask.palletsprojects.com/en/2.0.x/#api-reference">https://flask.palletsprojects.com/en/2.0.x/#api-reference</a>
  </p>

  <p>
    <b>Glitch</b>
    Consider using <a href="https://glitch.com/">Glitch</a>
  </p>

  <p>
    <b>Web Audio API</b><br>
    <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API">The Web Audio API</a> provides a powerful and versatile system for controlling audio on the Web, allowing developers to choose audio sources, add effects to audio, create audio visualizations, apply spatial effects (such as panning) and much more.
  </p>

  <p>
    <b>Youtube download</b><br>
    <tt>$ youtube-dl -x --audio-format m4a --prefer-ffmpeg --add-metadata -o "%(playlist)s\%(playlist_index)s - %(title)s.%(ext)s" PLAYLIST</tt>
  </p>

  </div>

</div>
