{% if track.encoder %}
{% set encoder = track.encoder %}
{% set enc = track.encoder.lower() %}
{% endif %}

{% if track.encoder_info %}
{% set encoder = track.encoder_info %}
{% set enc = track.encoder_info.lower() %}
{% endif %}

<p id="encoding">

  <div>
    <span class="box">
      {% if encoder and enc.startswith('itunes') %}
      <img alt="iTunes" src="/static/ico/itunes.png">
      {% elif encoder and enc.startswith('lavf') %}
      <img alt="FFmpeg" src="/static/ico/ffmpeg.png">
      {% elif encoder and enc.startswith('lame') %}
      <img alt="LAME" src="/static/ico/lame.gif">
      {% elif encoder and enc.startswith('x') %}
      <img alt="XLD" src="/static/ico/XLD.png">
      {% endif %}
      {{ encoder or "Unknown encoder"}}
      {% if track.bitrate %}
      &nbsp;({{ "{} Kbps".format((track.bitrate / 1000) | int) }})
      {% endif %}
    </span>
  </div>

  {% if track.codec and track.codec.upper() == 'ALAC' %}

  <div>
    <span class="box">
      <img alt="Safari" src="/static/ico/safari.png">
      Apple Lossless (requires <i>Safari</i>)</span>
  </div>

  {% endif %}

</p>
