<style>
table#tracklist {
    margin: 16px;
    margin-bottom: 32px;
    text-align: left;
}
table#tracklist td {
　　margin: 0;
    padding: 0;
    vertical-align: top;
}
table#tracklist tr:hover .title {
    background-color: lightgray;
}
table#tracklist tr:hover .title a {
    color: black;
}
table#tracklist tr:hover .track_num {
    color: black;
}
.track_num {
    margin-top: 4px;
    text-align: right;
    color: silver;
}
.title {
    margin-left: 8px;
    padding: 4px 8px;
    border-radius: 4px;
}
.title a {
    color: gray;
}
tr.active a {
    color: black;
    font-weight: bold;
}
</style>


<table id="tracklist">
  {% for key in metadata | sort %}
  <tr class="{% if metadata[key].src == track.src %}active{% endif %}">
    <td><div class="track_num">{{ loop.index }}</div></td>
    <td>
      <div class="title">
        <a href="/track/{{ loop.index }}/{{ alkey | urlencode }}"
           path="{{ alkey }}">{{ metadata[key].title }}</a>
      </div>
    </td>
  </tr>
  {% endfor %}
</table>
